# Blast Wave Problem
debug = /dev/null
out   = blastwave
Nt    = 50
Nx    = 200
Ny    = 200
Nz    = 1
tmax  = 5.0
cfl   = 0.1
cc    = 1.0
mpe   = 1.0
lp    = 1.0e-3
gamma = 1.33333333333333
ri    = 1.0e-2
pi    = 1.0e+0
ro    = 1.0e-4
po    = 5.0e-4
bx    = 3.5449077018110318
by    = 0.0
bz    = 0.0
