# Propagation of Circularly Polarized Wave
debug = /dev/null
out   = circular
Nt    = 50
Nx    = 64
Ny    = 32
Nz    = 1
mode  = 1
cfl   = 0.25
cycle = 1.0
len   = 25.132741228718345
cc    = 1.0
mpe   = 1.0
sigma = 1.0
h0    = 1.04
gamma = 1.333333333333333
eta   = 0.1
w0    = 0.25
g0    = 1.001
