# Tearing Instability
debug = /dev/null
out   = tearing
dir   = 0
Nt    = 50
Ng    = 100
tmax  = 1.0
cfl   = 0.1
cc    = 1.0
mpe   = 1.0
sigma = 1.0
lcs   = 0.1
lp    = 1.0e-3
S     = 1.0e+2
gamma = 1.333333333333333
